/*
    Colors used throughout the application
    Inspired by the material color system (https://material.io/design/color/the-color-system.html, https://material.io/develop/web/theming/color).
    Colors are named according to the Vue Design System guidelines (https://github.com/viljamis/vue-design-system/wiki/Naming-of-Things#naming-colors):
        - Default: The default base color is `color-{name}`.
        - Darker than default: Shades are named as `color-{name}-dark`, `color-{name}-darker`, or `color-{name}-darkest`.
        - Lighter than default: Tints are named as `color-{name}-light`, `color-{name}-lighter`, or `color-{name}-lightest`.
*/
@use 'sass:color';

// --- Primary | The color displayed most frequently across screens and components
$color-primary              : #66CCFF;
$color-primary-light        : color.adjust($color-primary, $lightness: 20%);
$color-primary-dark         : color.adjust($color-primary, $lightness: -15%);
$color-primary-darker       : color.adjust($color-primary, $lightness: -30%);
$color-primary-darkest      : color.adjust($color-primary, $lightness: -45%);
// Text/iconography color that is usable on top of primary color
$color-on-primary           : #0D0D0D;

// --- Secondary | Accent color, should be applied sparingly to accent select parts of UI
$color-secondary            : #47E8D4;
$color-secondary-light      : color.adjust($color-secondary, $lightness: 25%);
// Text/iconography color that is usable on top of secondary color
$color-on-secondary         : #0D0D0D;

// --- Accent | Violet gradient for highlights and hover states
$color-accent-start         : #7A5CFF;
$color-accent-end           : #B495FF;

// --- Surface | Affect surfaces of components, such as cards, sheets, and menus.
$color-surface              : #1A1A1A;
// Text/iconography color that is usable on surface
$color-on-surface           : #E0E0E0;

// Background | Appears behind scrollable content.
$color-background           : #0D0D0D;

$color-success  : #4CAF50;
$color-danger   : #F44336;
$color-caution  : #FFC107;

/*
    Application-specific colors:
    These are tailored to the specific needs of the application and derived from the above theme colors.
    Use these colors to ensure consistent styling across components. When adding new colors, reference existing theme colors.
    This approach maintains a cohesive look and feel and simplifies theme adjustments.
*/
$color-scripts-bg: $color-primary-darker;
$color-highlight: $color-primary;
