name: release-desktop

on:
 release:
   types: [created] # will be triggered when a NON-draft release is created and published.

jobs:
  publish-desktop-app:
    name: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos, ubuntu, windows]
      fail-fast: false # So publish runs for other OSes if one fails
    runs-on: ${{ matrix.os }}-latest
    steps:
      -
        uses: actions/checkout@v4
        with:
          ref: master
          fetch-depth: 0
      -
        name: Setup node
        uses: ./.github/actions/setup-node
      -
        name: Install dependencies
        uses: ./.github/actions/npm-install-dependencies
      -
        name: Run unit tests
        run: npm run test:unit
      -
        name: Prebuild
        run: npm run electron:prebuild
      -
        name: Build
        run: npm run electron:build -- --publish never
        shell: bash
      -
        name: Publish to GitHub Release
        run: npm run electron:build -- --publish always
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EP_GH_IGNORE_TIME: true
